<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.se309.tower">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:appCategory="game"
        android:icon="@drawable/ic_launcher"
        android:isGame="true"
        android:label="@string/app_name"
        android:theme="@style/GdxTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".LeaderboardsPage"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ProfilePage"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".SocialPage"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".LobbyPage"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".HomePage"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".CreateLoginPage"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".LoginPage"
            android:exported="true"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.se309.game.GameLauncher"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenSize|screenLayout"
            android:label="@string/app_name"
            android:screenOrientation="landscape" />
    </application>

</manifest>